<script>
	$(document).ready(function() {
		$(window).load(initiate_geolocation);
	});
</script>
<div id="ip">Client ip is <%= @client_ip %></div>
<div id="lat"></div>
<div id="lon"></div>
<div id="googlelocation"></div>